@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.wrapper {
    display: inline-flex;
}

.wrapper .icon {
    position:         relative;
    background-color: #ffffff;
    border-radius:    50%;
    padding:          15px;
    margin:           10px;
    width:            15px;
    height:           15px;
    font-size:        20px;
    display:          flex;
    justify-content:  center;
    align-items:      center;
    flex-direction:   column;
    box-shadow:       0 10px 10px rgba(0, 0, 0, 0.1);
    cursor:           pointer;
    transition:       all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position:         absolute;
    top:              0;
    font-size:        14px;
    background-color: #ffffff;
    color:            #ffffff;
    padding:          5px 8px;
    border-radius:    5px;
    box-shadow:       0 10px 10px rgba(0, 0, 0, 0.1);
    opacity:          0;
    pointer-events:   none;
    transition:       all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position:         absolute;
    content:          "";
    height:           8px;
    width:            8px;
    background-color: #ffffff;
    bottom:           -3px;
    left:             50%;
    transform:        translate(-50%) rotate(45deg);
    transition:       all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top:            -45px;
    opacity:        1;
    visibility:     visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .telegram,
.wrapper .telegram .tooltip,
.wrapper .telegram .tooltip::before {
    background-color: #ffffff;
    color:            #0088cc;
}

.wrapper .telegram:hover,
.wrapper .telegram:hover .tooltip,
.wrapper .telegram:hover .tooltip::before {
    background-color: #0088cc;
    color:            #ffffff;
}

.wrapper .linkedin,
.wrapper .linkedin .tooltip,
.wrapper .linkedin .tooltip::before {
    background-color: #ffffff;
    color:            #0e76a8;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
    background-color: #0e76a8;
    color:            #ffffff;
}

.wrapper .twitch,
.wrapper .twitch .tooltip,
.wrapper .twitch .tooltip::before {
    background-color: #ffffff;
    color:            #9147FF;
}

.wrapper .twitch:hover,
.wrapper .twitch:hover .tooltip,
.wrapper .twitch:hover .tooltip::before {
    background-color: #9147FF;
    color:            #ffffff;
}

.wrapper .github,
.wrapper .github .tooltip,
.wrapper .github .tooltip::before {
    background-color: #ffffff;
    color:            #333333;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background-color: #333333;
    color:            #ffffff;
}